body {
  background-color: #262930;
}

.container {
  display: grid;
  grid-template-columns: 265px auto 265px;
  padding: 48px 18px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.box {
  background-color: #2e3740;
  margin-bottom: 16px;
}

.sport-wrap {
  padding-bottom: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14px 20px 45px;
    border-bottom: 1px solid #fd402f;
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 14px 15px 45px;
      margin: 7px 0;

      span {
      }

      &.active {
        background-color: rgba(#262930, 0.2);
      }
    }
  }
}

.region-wrap {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 44px;
    background-color: rgba(#bfddff, 0.05);
    margin-bottom: 4px;
  }

  .list {
    .item {
      background-color: rgba(#bfddff, 0.05);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      padding: 8px 12px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
